server {
    listen 443 ssl;
    ssl_certificate  /etc/nginx/domain.crt;
    ssl_certificate_key /etc/nginx/domain.key;
    resolver 127.0.0.11 ipv6=off valid=10s;
	include default_proxy_headers;

    # Nexus UI upstream
    set $upstream_nexus http://nexus:8081;

    # Nexus host name
    server_name nexus.domain.local;

    location / {
        proxy_pass $upstream_nexus;
    }
}

server {
    listen 443 ssl;
    ssl_certificate  /etc/nginx/domain.crt;
    ssl_certificate_key /etc/nginx/domain.key;
	resolver 127.0.0.11 ipv6=off valid=10s;
	include default_proxy_headers;

    # Increase max body size for push/pull images
    client_max_body_size 1G;

    # Hosted repo upstream
    set $upstream_nexus_hst http://nexus:5000;

    # Group repo upstream
    set $upstream_nexus_grp http://nexus:5100;

    # Repository host name
    server_name docker-registry.domain.local;
    
    location / {
        
        # Route PUT, POST, PATCH, HEAD queries to the hosted repo endpoint
        if ($request_method = POST ) {
            proxy_pass $upstream_nexus_hst;
        }
        if ($request_method = PUT ) {
            proxy_pass $upstream_nexus_hst;
        }
        if ($request_method = PATCH ) {
            proxy_pass $upstream_nexus_hst;
        }
        if ($request_method = HEAD ) {
           proxy_pass $upstream_nexus_hst;
        }

        # Route GET queries to the group repo endpoint
        if ($request_method = GET ) {
           proxy_pass $upstream_nexus_grp;
        }
    }
}
